/* CSS Document */
.jumbotron{
	width:700px;
	height: 800px;
	text-align:center;
	margin-left:auto;
	margin-right:auto;
	margin-top:40px;
	padding-left:15px;
	padding-right:15px;
	padding-top: 40px;
	padding-bottom: 10px;
		
	
}

.form-control{
	margin-bottom:10px;
}

.formulario{
	width:235px;
	margin:auto;
	text-align:left;
}

.jumbotron h5{
	margin-top: 5px;
	padding-bottom: 1px;
	padding-top: 5px;
	color: #acacac;
	border-radius: 5px;
	text-align:left;
	
}

.p{
     margin-left: 565px;
	 color: #acacac;
	 border-radius: 5px;
}

.jumbotron logo{
	 margin-top:30px;
	 margin-bottom: 1px;
	 padding-bottom: 1px;
	 padding-top: 5px;
}

.text-center .img-responsive {
    margin: 0 auto;
	padding-top: 30px;
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -1px;
}

.dropdown-toggle{
	margin-top: 10px;
}

.dropdown{
	margin-top: 10px;
	margin-left: 10px;
}

.well{
   text-align: center; 
}