<!-- Programa: Tela de Login do TexKronos 1.0-->
<!-- Descrição: Tela de Login com Acesso aos Menus e links do Aplicativo -->
<!-- Versão: 1.0 -->
<!-- Autor: Ivam Galvão Filho -->
<!-- Data: 01/02/2017 -->
<!-- Data de atualização: -->
<!doctype html>
<html lang="pt-br" ng-app="controllerLogin">
    <head>
	     <!-- Bloco de Título -->
	     <title>Login</title>
		 <!-- Bloco de Título -->
		 
		 <!-- Bloco de Meta -->
	     <meta charset="utf-8"></meta>
		 <meta name="viewport" content="width=device-width, user-scalable=no, 
		 intial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
		 <!-- Bloco de Meta -->
		 
		 <!-- Bloco de Link -->
		 <!-- Favicon --><link rel="shortcut icon" href="/Imagens/logoFavi2.png" /><!-- Favicon -->
		 <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
		 <link rel="stylesheet" type="text/css" href="/css/style.css">
		 <!-- Bloco de Link -->
		 
		 <!-- Bloco de Script -->
		 <script src="angular/angular.min.js"></script>
		 <script src="angular/angular-locale_pt-br.js"></script>         
         <script src="bootstrap/js/jquery.min.js"></script>
         <script src="bootstrap/js/bootstrap.min.js"></script>
		 <script>
		     angular.module("controllerLogin", []);
			 angular.module("controllerLogin").controller("controllerLogin",
			 function ($scope){
			     $scope.app="controllerLogin";
				 $scope.usuarios = [{usuario:"admin", senha:"password"}];
             });
		 </script>
	 
	     <!-- Bloco de Script -->
         
		 
	</head>
	<body ng-app="controllerLogin" ng-controller="controllerLogin">
	 <!-- Bloco de código do container -->  
	     <div class="container">
		     <div class="row">
			     <div class="col-md-12 text-center">
		             <img class="img-responsive" src="/Imagens/Logo.jpg" alt="Logomarca">
				 </div>	 
			 </div>	 
	     </div>
		 <!-- Bloco de código do container -->
		 
		 <!-- Bloco de código do Jumbotron -->
	     <div class="jumbotron">	

         <!-- Bloco de código de formulário -->	
         <!-- Bloco de Div com códigos Angular JS -->		 
         <div>	 
		     <form class="formulario" name="formLogin" method="post" action="userauthentication.php">
			     <div><h5>Usuário</h5></div>
			     <input class="form-control" name="usuario_usu" type="text" ng-model="usuario.usuario"
				 placeholder="Digite aqui o seu Usuário!" ng-required="true">
                 <div><h5>Senha</h5></div>
				 <input class="form-control" name="password_usu" type="password" ng-model="usuario.senha"
				 placeholder="Digite aqui sua Senha!">
             
			 <!-- Bloco de código de formulário -->	 
			 
			 <!-- Bloco de código de botão usando Angular JS-->
			<br> 
		     <input type="submit" class="btn btn-primary btn-block btn-success"
			 ng-disabled="!usuario.usuario" value="Fazer Login">
			 <br>
			<input type="reset" class="btn btn-primary btn-block btn-danger"
			value="Limpar campos"> 
		     </form>
			 <!-- Bloco de código de botão usando Angular JS-->
			 </div>
			 <!-- Bloco de Div com códigos Angular JS -->
			 
			 <!-- Bloco de código de Link -->
			 <div class="link"><h5>Esqueci a senha!</h5></div>
		 </div>
		     <!-- Bloco de código de Link -->
         <!-- Bloco de código do Jumbotron -->
		 
		 <!-- Bloco de código de Link -->
		 <div class="col-xs-12 col-sm-12 col-md-12 text-center">
		     <a href="http://www.texkronos.com">Voltar ao site!</a>
		 </div>
		 <!-- Bloco de código de Link -->
	</body>
</html>
	